* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 0px solid white;
  flex-wrap: wrap;
}

.logo img {
  width: 100px;
  height: 100px;
  
}
nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.job-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  width: 280px;
  height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px black(0, 0, 0, 0.1);
  background-color: white;
}

.card-header {
  border-radius: 20px 20px 0 0;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: -20px -20px 10px -20px;
  min-height: 10px;
}

.card-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background-color: white;
  padding: 5px;
  object-fit: contain;
  border: 2px solid white;
}

.card-header h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.card-header h4 {
  font-size: 15px;
  font-weight:bold;
  margin: 0;
  line-height: 1.2;

}

.daraz {
  background-color: blue;
  box-shadow: inset 2px 2px 8px blue;
}

.leapfrog {
  background-color: blue;
  box-shadow: inset 2px 2px 8px blue;
}

.hilton {
  background-color: darkblue;
  box-shadow: inset 2px 2px 8px darkblue;
}

.applications {
  font-size: 15px; 
  color: gray;
  margin-bottom: 10px ;
}

.description {
  font-size:20 px;
  flex-grow: 1;
  margin-bottom: 20px;
  line-height: 1.5;
}

.apply-button {
  padding: 10px;
  font-size: px;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid blue;
  background-color: white;
  color: blue;
  cursor: pointer;
   transition: all 0.3s ease;
}

.apply-button:hover {
  background-color: blue;
  color: white;
}


footer {
  display: flex;
  justify-content: flex-end; 
  padding: 0 50px;           
  margin: 60px ;
}

.next-page {
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  align-items: right;
}

.next-page:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .job-cards {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .card {
    max-width: 100%;
  }

  footer {
    justify-content: center;
  }
}