* {
   margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: white;
  box-shadow: 0 ;
}

.logo {
  flex-shrink: 0;
}


.logo img {
  height: 100px;
}


nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}



.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px black ;
}

h2 {
  text-align: center;
  color: blue;
  margin-bottom: 30px;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
  color: blue;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  background-color: gainsboro;
  margin-bottom: 20px;
}

textarea {
  height: 100px;
  resize: vertical;
}

.submit-button {
  display: block;
  margin: 30px auto 0;
  padding: 12px 30px;
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: blue; /* Slight hover effect */
}

@media (max-width: 600px) {
   header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  nav {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  nav a {
    display: inline-block;
    margin: 5px 10px 0 0;
  }
}
